/* css styles */

body {
    background-image: url('invest-background-medium.png');
    background-size: cover;
    background-repeat: no-repeat;
}



.highlight {
    color: #006400; /* Dark green */
    font-size: 1.0em;
    font-weight: bold;
}

.highlight1 {
    color: #006400; /* Dark green */
    font-size: 0.9em;
}

.border-type-banner {
    display: inline-block;  
    background-color: #bde3b6; 
    padding: 10px; 
    border: 1px solid #cccccc; 
    border-radius: 5px;
}

.border-type-alert {
    display: inline-block;  
    background-color: #ffffff;  
    padding: 10px;  
    border: transparent;  
    border-radius: 5px;  
}

.freshgreen {
    color: #03ac13;  
    font-size: 1.0em;
}

.green-type-small {
    color: #03ac13;  
    font-size: 0.9em;
}

.minitext-black {
    font-size: 0.6em;
}

.smalltext-black {
    font-size: 0.8em;
}

.red {
    color: #982153;
}

.something1 {
    color: #373737;  
    font-size: 0.9em;
}

.blank-line {
    margin: 20px 0;
}

.nav-right {
    text-align: right;
}

.small-table {
    font-size: 14px;  
    color: #006400;  
    padding: 5px;
}